
// These need to be set based on the breakpoints in the IS Foundation options
$xsmall: 500px;
$small : 700px;
$tablet : 1000px;
$desktop : 1200px;

$row_width : 1245px;

$breakpoints : (
        base: 0,
        xsmall: $xsmall,
        small: $small,
        medium: $tablet,
        large: $desktop,
        xlarge: 1600
);

$breakpoint-classes : (xsmall small medium large xlarge);

@import 'components/_global';
@import '../../bower_components/foundation-sites/scss/util/_util.scss';


@mixin card_hover($border_color: #dadfe3) {

  transition : 200ms all ease-out;
  box-shadow : 0 0 0 rgba(0, 0, 0, 0);
  border     : 1px solid $border_color;

  &:hover {
    box-shadow : 0 0 15px rgba(0, 0, 0, .1);
  }

  &:focus {
    box-shadow : 0 0 15px rgba(0, 0, 0, .3);
    border-color : $secondary;
  }
}

@mixin row_rules() {
  float  : none;
  margin : auto;

  @include breakpoint(large up) {
    max-width : 1245px;
  }
  @include breakpoint(medium only) {
    max-width : 1000px;
  }
}

// place file includes below

html body {
  &.page-id-16926,
  &.page-id-16943 {
    @import 'components/_typography';
    @import 'components/_body';
    @import 'components/_modules';
    @import 'components/_visibility';
    @import 'components/_include_on_report';
  }

  &.single-cew_reports {
    @import 'components/_include_on_report';
  }


}

body[data-smooth-scrolling="0"] {
  overflow : visible !important;

  &.compensate-for-scrollbar {
    overflow: hidden !important;
  }
}

.fancybox-container {

  .top-bar {
    display       : flex;
    margin-bottom : 20px;
    align-items   : center;

    .button-link {
      flex : 0;
    }

    .url {
      flex : 1;
    }
  }

  .button-link {
    align-self      : stretch;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-right    : 20px;
    min-width       : 130px;
    background      : $blue_500;

    a {
      color : white;
    }
  }


  .url {
    border        : 1px solid $blue_500;
    padding       : 7px;
    box-shadow    : 3px 3px 3px $gray_300 inset;
    border-radius : 7px;
    transition    : 250ms all ease-out;
    position      : relative;

    p {
      padding      : 0;
      color        : $gray_500;
      transition   : 250ms all ease-out;
      padding-left : 95px;
    }

    &:hover {
      border-color : $blue_700;

      &:after {
        font-weight : 800;
      }
    }

    &:active {
      border-color : $secondary;

      &:before {
        color       : $secondary;
        font-weight : 800;
        content     : "Copied!";
      }

    }

    &:before {
      transition      : 250ms all ease-out;
      position        : absolute;
      bottom          : 0;
      left            : 0;
      font-size       : 10px;
      font-style      : italic;
      content         : "Click to Copy Link";
      width           : 90px;
      top             : 0;
      display         : flex;
      align-items     : center;
      justify-content : center;
    }

  }

  button {
    top : 23px !important;
  }

  iframe {
    margin-top: 0;
  }

}