@include breakpoint(small down) {

  div.container-wrap div.container.main-content {
    max-width : none !important;
    padding   : 0 30px;

    .wpb_row.full-width-content {
      margin : 0;
      width: 100% !important;
    }
  }
}