@import url("https://use.typekit.net/gxu0egf.css");

$serif: "pt-serif-pro", serif;
$sans-serif: 'open-sans', sans-serif;

$primary: #144175;
$secondary: #F9A21C;

$blue: $primary;
$report: $secondary;
$exec_summary: #b9d9ec;
$press_release: #a7bd4e;
$video: #9a2c3a;
$powerpoint: #fe3e4b;
$bright_blue: #0074cc;
$primary_xxlight: #B5D9FF;


$blue_100: #f7fbff;
$blue_500: #1c6199;
$blue_700: #144175;
$blue_900: #102138;

$gray_100: #f0f0f0;
$gray_300: #E6E6E6;
$gray_500: #a6a6a6;
$gray_700: #767676;
$gray_900: #555;
$placeholder_text: #767676;