.fancybox-container {
  .fancybox-inner {
    .fancybox-content {
      padding    : 25px 45px 0;
      background : white;
      box-shadow : 0 0 30px -6px black;

      iframe {
        width: 1200px;
        max-width: 100%;
      }
    }
  }
}
