@include breakpoint(medium down) {
  &.page-id-16943 {
    .container {
      max-width : calc(100% - 60px) !important;
      padding   : 0;
    }
  }
}

.section-title h2:after {
  content    : "";
  background : $secondary;
  height     : 9px;
  max-width  : 296px;
  display    : block;
  margin     : 32px auto 40px;
}

.cew-home-research-header,
.cew-resource-hero {
  display     : flex;
  align-items : center;

  * {
    transition : 250ms all ease-out;
  }


  > div {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 0;


    @include breakpoint(small down) {
      flex-direction : column;

      img {
        max-width : 70%;
        margin    : 0 auto 35px;
        display   : block;
      }
    }
  }

  img {
    padding-right : 40px;

  }

  p {
    line-height : 1.4;
    color       : #162133;
  }

  h1 {
    font-size : 48px !important;
  }

  h3 {
    font-size   : 48px;
    line-height : 72px;
    font-weight : bold;
    color       : $primary;
    margin      : 0;
    padding     : 0;

    &:after {
      content    : "";
      background : $secondary;
      height     : 9px;
      max-width  : 296px;
      display    : block;
      margin     : 12px 0 30px;
    }
  }

  .cew-resource-hero-img {
    flex : 0 0 35%;

    .svg_container {
      border-radius   : 100%;
      width           : 280px;
      height          : 280px;
      margin          : auto;
      display         : flex;
      align-items     : center;
      justify-content : center;


      svg {
        flex       : 0 0 60%;
        transition : 250ms all ease-out;

        path {
          fill : white !important;
        }
      }


      &:hover {
        svg {
          flex : 0 0 62%;
        }
      }
    }

  }

  @include breakpoint (small down) {

    margin-left : -20px;
    width       : calc(100% + 40px);

    h2 {
      line-height : 1.1;
    }

    p {
      font-size : 18px;
    }
  }

  @include breakpoint(medium only) {
    h2 {
      font-size : 4vw;
    }

    p {
      font-size : 1.9vw;
    }

    img {
      //max-width : 25%;
    }
  }

  @include breakpoint(large up) {
    h2 {
      font-size : 56px;
    }

    p {
      font-size : 24px;
    }
  }

}


.cew-resource-query-container {

  float      : left;
  width      : 100%;
  background : $blue_100;
  padding    : 45px 15px;
  position   : relative;

  &:before {
    content    : '';
    position   : absolute;
    top        : 0;
    left       : -9999px;
    right      : -9999px;
    bottom     : 0;
    background : $blue_100;
    z-index    : -1;
  }

  .cew-resource-query-header {
    text-align     : center;
    padding-bottom : 20px;

    h2 {
      font-family : $serif;
      color       : $primary;
      text-align  : center;
      display     : inline-block;
      margin      : 0 auto;
      font-weight : bold;
      font-size   : 48px;


      &:after {
        content    : "";
        display    : block;
        width      : 80%;
        height     : 6px;
        background : $secondary;
        margin     : 18px auto 0;
      }
    }


    @include breakpoint(medium only) {
    }

  }

  .filter-content {
    display : flex;


    .form-field-report,
    .form-field-research,
    .form-field-keyword {
      flex           : 1 0 auto;
      padding-right  : 15px;

      flex-direction : column;
      display        : flex;

      &.year {
        flex : 1 0 200px;

        .select2-chosen {
          margin-right : 38px;
        }
      }

      input, .select2-container {
        width      : 100%;
        transition : 100ms all ease-out;

        &:focus {
          border-color : $secondary !important;
        }

        &.select2-container-active {
          .select2-choice {
            border-color : $secondary;
          }
        }

      }
    }

    .form-field-buttons {
      flex        : 0 1 auto;
      align-items : center;
      display     : flex;
      position    : relative;
      margin-top  : 36px;

      .order-container {
        .sort-filter {
          padding    : 15px 25px;
          position   : relative;
          width      : 120px;
          background : $gray_300;
          box-shadow : inset 0 0 3px 0px rgba(0, 0, 0, 0.1);
          border     : none;

          &:before, &:after {
            position        : absolute;
            top             : 0;
            bottom          : 0;
            width           : 50%;
            display         : flex;
            align-items     : center;
            justify-content : center;
            font-family     : FontAwesome;
            font-size       : 20px;
            color           : $gray_500;
          }

          &:before {
            content : "\f160";
            transform: scaleY(-1);
            left    : 3px;
          }

          &:after {
            content : "\f160";
            right   : 3px;
          }

          input {
            margin   : 0;
            z-index  : -1;
            position : relative;
          }

          &.active {
            background : $gray_300;
            border     : none;

            .cover {
              left          : 50%;
              border-radius : 0 20px 20px 0;
            }
          }

          .cover {
            position        : absolute;
            background      : $primary;
            top             : 0;
            left            : 0;
            bottom          : 0;
            width           : 50%;
            transition      : 250ms all ease-out;
            border-radius   : 20px 0 0 20px;
            z-index         : 2;
            display         : flex;
            align-items     : center;
            justify-content : center;

            &:before {
              content    : "Date";
              color      : white;
              text-align : center;
            }
          }

          .screen {
            position      : absolute;
            top           : 0;
            left          : 0;
            right         : 0;
            bottom        : 0;
            z-index       : 3;
            border-radius : 20px;
            cursor        : pointer;
          }

        }
      }

      .sort-filter {

        border         : 1px solid $gray_500;
        padding        : 15px 21px 15px 25px;
        border-radius  : 40px;
        font-size      : 14px;
        font-weight    : bold;
        text-transform : uppercase;
        line-height    : 1.2;
        box-shadow     : 0 0 0 rgba(0, 0, 0, 0);
        transition     : 250ms all ease-out;
        color          : $gray_500;
        background     : transparent;

        &.active {
          border-color : $secondary;
          color        : white;
          background   : $secondary;
        }

        &.aria-active {
          box-shadow : 0 0 15px rgba(0, 0, 0, .3);

          input {
            box-shadow : none;
          }
        }
      }

      .search-container {
        position : relative;

        &:after {
          content     : "\f002";
          color       : white;
          position    : absolute;
          top         : 11px;
          right       : 27px;
          font-family : fontawesome;
        }
      }

      input[type=submit] {
        background     : $secondary !important;
        border-radius  : 100px !important;
        text-transform : uppercase !important;
        font-family    : 'Open Sans', sans-serif;
        font-weight    : bold;
        padding-right  : 50px !important;
      }

      .cew-reset-filter {
        background     : $primary !important;
        color          : white;
        border-radius  : 100px !important;
        padding        : 15px 22px;
        text-transform : uppercase;
        text-align     : center;
        font-weight    : bold;
        font-size      : 14px;
        line-height    : normal;
      }


      input, a {
        margin     : 0 7px;
        box-shadow : 0 0 0 rgba(0, 0, 0, 0);
        transition : 150ms all ease-out;

        &:focus {
          box-shadow : 0 0 15px rgba(0, 0, 0, .3);

        }

      }
    }

    @include breakpoint(medium only) {
      flex-wrap : wrap;


      .form-field-report,
      .form-field-research,
      .form-field-keyword {
        flex : 0 0 33%;
      }

      .form-field-buttons {
        flex            : 0 0 100%;
        justify-content : center;
      }
    }

    @include breakpoint(small down) {
      flex-direction : column;

      .form-field-report,
      .form-field-research,
      .form-field-keyword {
        flex : 0 0 100% !important;
      }

      .form-field-buttons {
        flex            : 0 0 100%;
        justify-content : space-around;
      }

    }


  }

  .select2-container {
    .select2-choice {
      border-radius : 24px;
      border-color  : $primary_xxlight;
      padding-left  : 18px;
      font-size     : 16px;
      line-height   : 1;
      transition    : 150ms all ease-out !important;
      height        : 42px;
      padding-top   : 2px;
      background    : white;

      .select2-chosen {
        color       : $gray_700 !important;
        line-height : 36px;
      }

      .select2-arrow {
        right : 8px;

        b {

          &:before {
            content       : "";
            position      : absolute;
            top           : 16px;
            left          : 1px;
            display       : block;
            height        : 14px;
            width         : 14px;
            background    : $primary_xxlight;
            border-radius : 14px;
          }

          &:after {
            border-top-color   : white;
            margin-left        : -6px;
            margin-top         : 1px;
            border-left-width  : 3px;
            border-right-width : 3px;
            border-top-width   : 5px;
          }
        }
      }

      &:hover {
        border-color : $bright-blue !important;
        background   : white !important;

        .select2-chosen {
          color : $gray_700 !important;
        }

      }
    }

    &.select2-dropdown-open {
      .select2-choice .select2-arrow b:after {
        border-top : none;
        margin-top : -3px;
      }
    }
  }

  .form-field-keyword {
    > label {
      margin-top : 12px;
    }

    input[name=keyword] {
      background    : white;
      border        : solid 1px $primary_xxlight;
      height        : 42px;
      border-radius : 100px;
      padding-left  : 21px;
      font-size     : 16px;

      &::placeholder {
        color : $gray_700;
      }
    }
  }

  .cew-resource-media-filters-text {
    h4 {
      color       : $primary;
      font-size   : 28px;
      margin-top  : 32px;
      line-height : 1.3;
    }

    p {
      color         : $primary;
      margin-bottom : 40px;
    }
  }

  .cew-result-counter, .cew-scroll-to-top {
    position        : fixed;
    right           : 15px;
    box-shadow      : 0 0 5px #ccc;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    transition      : 250ms all ease-out;
    background      : white;
    z-index         : 2;
  }

  .cew-result-counter {
    top           : 40%;
    right         : 0;
    height        : 100px;
    width         : 80px;
    border-bottom : 20px solid transparent;

    &.hidden {
      right : -90px;
    }

    h5 {
      position    : absolute;
      bottom      : 30px;
      font-size   : 20px;
      font-weight : 600;
      margin      : 0;
    }

    p {
      text-align  : center;
      font-size   : 10px;
      line-height : 1;
      padding     : 0;
      position    : absolute;
      bottom      : -10px;
      font-weight : 800;
    }


    .circular-chart {
      display   : block;
      margin    : 10px auto;
      max-width : 70%;
    }

    .circle {
      stroke         : $bright_blue;
      fill           : none;
      stroke-width   : 4;
      stroke-linecap : round;
      animation      : progress 1s ease-out forwards;


      &.bg {
        stroke  : #eee;
        z-index : -1;
      }
    }


  }

  .cew-scroll-to-top {
    top        : calc(40% + 120px);
    cursor     : pointer;
    width      : 50px;
    height     : 50px;
    transition : 250ms all ease-out;
    background : white;

    &.hidden {
      right : -60px;
    }

    p {
      font-size   : 10px;
      line-height : 1.2;
      text-align  : center;
      font-weight : bold;
      transition  : 250ms all ease-out;
    }

    &:hover {
      background : $secondary;

      p {
        color : white;
      }
    }

  }

  .filter-content {
    @include row_rules();
  }

  @include breakpoint(small down) {

    padding-left  : 0;
    padding-right : 0;

    .cew-resource-query-header {
      h2 {
        font-size : 58px;
      }
    }

    .filter-content {

      .filter-option {
        padding-right : 0;
      }

    }
  }

}

.cew-research-type {
  display     : flex;
  align-items : center;

  p, a {
    font-size : 18px;
  }


  &:focus {
    .boxshadow {
      box-shadow : 0 0 15px rgba(0, 0, 0, .3);
    }
  }

}

.boxshadow {
  background    : white;
  border-radius : 4px;
  padding       : 20px 28px;
  width         : 100%;
  @include card_hover;
}


.cew-home-resource-container {

  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;
  align-items     : stretch;
  max-width       : $row_width;
  margin          : auto !important;
  float           : none;
  padding         : 0 30px;

  @include row_rules();

  @include breakpoint(small down) {
    flex          : 0 0 100% !important;
    padding-left  : 0px !important;
    padding-right : 0px !important;
  }


}


.cew-resource-library-container {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : flex-start;

  //.cew-resource-card {
  //
  //  @include breakpoint(medium only) {
  //    &:nth-of-type(2n + 1) {
  //      margin-right : 30px;
  //    }
  //  }
  //
  //}
}


.cew-resource-card {

  @include card_hover();
  background    : $blue_100;
  border-radius : 4px;
  overflow      : hidden;
  transform     : none;
  cursor        : pointer;
  flex          : 0 0 calc(33% - 17px);
  padding       : 0;
  margin-bottom : 30px;
  position      : relative;

  &.featured {

    display     : flex;
    align-items : center;


    .image {
      flex : none;

      @include breakpoint(medium up) {
        background-image : none !important;
      }

      @include breakpoint(small down) {
        width               : 100%;
        margin-bottom       : -20px;
        background-position : top center;
        background-size     : cover;
        flex                : 0 0 50%;
        img {
          max-height : none !important;
          opacity    : 0;
        }
      }

      img {
        margin     : 0;
        max-height : 360px;
        // this prevents a weird white space bug
        float      : left;
      }
    }

    .content {
      margin          : 0;
      padding         : 35px;
      flex            : auto;
      display         : flex;
      flex-direction  : column;
      justify-content : center;
    }

    .cew-icon-holder {
      height          : 100%;
      display         : flex;
      align-items     : center;
      justify-content : center;
      margin-left     : -25px;
      margin-right    : -25px;
    }

    @include breakpoint(xsmall down) {
      flex-direction : column;

      .content {
        padding : 10px 15px 30px;
        width   : 100%;
      }

    }


  }

  &.default {
    .publication_date {
      right : -18px;
      top   : -28px;
    }
  }

  .featured-img {
    background-size   : cover;
    background-repeat : no-repeat;
  }


  &:active {
    transform  : none;
    box-shadow : 0 0 1px rgba(0, 0, 0, .2);
    background : darken($blue_100, 1%);
  }

  .content {
    margin-top : -25px;
    padding    : 0 30px 50px;
  }

  .featured-img {
    width               : 100%;
    height              : 200px;
    background-position : center;
    background-size     : cover;
    background-repeat   : no-repeat;
  }

  .icon-container {

    width           : 50px;
    text-align      : center;
    border-radius   : 100%;
    height          : 50px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin          : 0;
    box-shadow      : 0 0 0 4px white;

    svg {
      max-width : 30px;
      margin    : auto;
      flex      : 1;

      path {
        fill : white !important;
      }
    }
  }

  h3.title {
    font-family : $serif;
    color       : $blue_700;
    font-size   : 22px;
    font-weight : 400;
    line-height : 27px;

    .subtitle {
      font-size   : 16px;
      line-height : 1.3;
      display     : block;
    }

    margin      : 0;
  }

  h5.type {
    font           : Bold 16px/22px $sans-serif;
    letter-spacing : 0.45px;
    color          : $gray_900;
    text-transform : uppercase;
    margin         : 0;
  }

  h5.publication-date {
    font           : Light 14px/19px $sans-serif;
    letter-spacing : 0;
    color          : $gray_700;
    margin         : 0;

  }

  .publication_date {
    float    : right;
    position : relative;
    color    : $blue_700;
    margin   : 0;
  }

  .research-area {
    line-height : 1.2;
    margin-top  : 7px;
    color       : $secondary;
    position    : absolute;
    bottom      : 0;
  }


  @include breakpoint(medium up) {
    &.featured {
      flex   : 0 0 calc(66% + 3px);
      margin : 0 0 10px;
    }

    &.default {
      flex   : 0 0 calc(33% - 10px);
      margin : 0 5px 10px;
    }
  }

  //@include breakpoint(medium only) {
  //  &.featured {
  //    flex         : 0 0 100%;
  //    margin-right : 0;
  //  }
  //
  //  &.default {
  //    flex         : 0 0 calc(50% - 15px);
  //    margin-right : 0;
  //  }
  //}

  @include breakpoint(small only) {
    &.featured {
      flex         : 0 0 100%;
      margin-right : 0;
    }

    &.default {
      flex   : 0 0 calc(50% - 10px);
      margin : 0 5px 10px;
    }
  }


  @include breakpoint(xsmall down) {
    &.featured {
      flex         : 0 0 100%;
      margin-right : 0;
    }

    &.default {
      flex         : 0 0 100%;
      margin-right : 0;
    }
  }

  //@include breakpoint(large up) {
  //  &:nth-of-type(3n + 2) {
  //    margin-right : 0;
  //  }
  //}

}

#cew-resource-query {

  display   : block;
  max-width : $row_width;
  margin    : auto;
  float     : none;

  label.resource-query-field-label {
    font-size      : 18px;
    color          : $primary !important;
    font-weight    : bold;
    text-transform : uppercase;
    margin-bottom  : 6px;
    margin-left    : 20px;
    display        : block;
    letter-spacing : 1px;
  }

}

.cew-resource-type-checkbox-filter {

  .cew-filter-display-toggle,
  legend {
    color          : $primary;
    font-weight    : bold;
    text-transform : uppercase;
    font-size      : 18px;
    text-align     : center;
    letter-spacing : 1px;
    margin-bottom  : 9px;
  }

  .cew-filter-display-toggle {
    transition    : 250ms all ease-out;
    color         : $primary;
    border        : 1px solid $primary;
    border-radius : 20px;
    padding       : 10px 20px;
    max-width     : 270px;
    display       : block;
    margin        : auto;

    &.active {
      color        : $blue_100;
      background   : $blue_700;
      border-color : $blue_700;
    }
  }

  .cew-checkbox-filter-container {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
  }

  .research_area_checkbox_container {

    cursor           : pointer;
    flex             : 0 0 auto;
    margin           : 6px 5px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    border-radius    : 100px;
    padding          : 8px 17px;
    border           : 1px solid $bright_blue;
    color            : $bright_blue;
    box-shadow       : 0 0 0 rgba(0, 0, 0, 0);
    transition       : 100ms all ease-out;
    background-color : transparent;


    &.aria-active,
    &:focus {
      background-color : white;
      box-shadow       : 0 0 5px rgba(0, 0, 0, .3);
      border-color     : $secondary;
    }


    * {
      cursor : pointer;
    }

    label {
      line-height : 1 !important;
      height      : auto !important;
      text-align  : left;
      font-size   : 16px;
      width       : 100%;
    }

    input[type="checkbox"] {
      position : absolute;
      z-index  : -1;
    }

    &.selected {
      border-color : inherit;
      color        : white;

      .icon {
        svg {
          fill : white;

          path {
            fill : white !important;
          }
        }
      }

      label {
        font-weight : bold;
      }
    }


    .icon {
      height          : 30px;
      width           : 30px;
      display         : flex;
      align-items     : center;
      justify-content : center;

      svg {
        fill : $bright_blue;
        flex : 0 0 100%;

        path {
          fill : $bright_blue !important;
        }
      }
    }


    @include breakpoint(xsmall down) {
      padding         : 15px;
      flex            : 0 0 48%;
      margin          : 1%;
      display         : flex;
      align-items     : center;
      justify-content : center;
      text-align      : center;

      label {
        text-align : center;
      }
    }

  }

}


@include breakpoint(medium up) {
  /* full width content/no margin columns */
  .main-content {
    .full-width-content.vc_row-fluid {
      .vc_col-md-1 { width : 6.382978723%; }

      .vc_col-md-2 { width : 14.89361702%; }

      .vc_col-md-3 { width : 23.404255317%; }

      .vc_col-md-4 { width : 31.914893614%; }

      .vc_col-md-5 { width : 40.425531911%; }

      .vc_col-md-6 { width : 48.93617020799999%; }

      .vc_col-md-7 { width : 57.446808505%; }

      .vc_col-md-8 { width : 65.95744680199999%; }

      .vc_col-md-9 { width : 74.468085099%; }

      .vc_col-md-10 { width : 82.97872339599999%; }

      .vc_col-md-11 { width : 91.489361693%; }

      .vc_col-md-12 { width : 100%; }
    }
  }
}


#select2-drop {
  background    : white;
  border        : 1px solid $bright_blue;
  border-radius : 20px;
  overflow      : hidden;
  margin-top    : -42px;

  .select2-search {
    .select2-input {
      background    : transparent;
      border-bottom : none;
      padding       : 15px 27px !important;
      margin        : 0 !important;
      font-size     : 18px;
      font-family   : ' open sans ';
    }
  }


  &.select2-drop-above {
    margin-top : 10px !important;
  }


  .select2-results {
    max-height : 300px;
    z-index    : 99999;
    padding    : 0;
    background : transparent;

    .select2-result {

      .select2-result-label {
        padding     : 15px 30px;
        font-size   : 16px;
        line-height : 1.2;
        color       : #707070;
      }

      &.select2-highlighted {
        background    : $bright-blue;
        border-radius : 0;

        .select2-result-label {
          color : white;
        }
      }

      &:last-of-type {
        border-radius  : 0 0 20px 20px;
        margin-bottom  : 0;
        padding-bottom : 3px;
      }
    }

  }

}


.cew-home-research-type-container {

  display   : flex;
  flex-wrap : wrap;

  .cew-research-type {
    flex            : 0 0 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding-bottom  : 30px;
    cursor          : pointer;

    &:nth-of-type(even) {
      padding-left : 15px;
    }

    &:nth-of-type(odd) {
      padding-right : 15px;
    }


    .image {
      flex : 0 0 33%;

      img {
        height     : auto;
        max-height : 450px;
        max-width  : 80%;
        margin     : auto;
      }
    }

    h4 {
      color : $primary;
    }

    &:hover {
      .boxshadow {
        box-shadow : 0 0 15px rgba(0, 0, 0, .1);
      }
    }

  }

  @include breakpoint(medium only) {

    .cew-research-type {
      flex    : 0 0 100%;
      margin  : 0;
      padding : 0 0 35px !important;

      &:nth-of-type(even) {
        flex-direction : row-reverse;
      }
    }
  }

  @include breakpoint(small down) {
    flex-direction : column;

    .cew-research-type {

      flex           : 0 0 100%;
      flex-direction : column;

      .boxshadow {
        height        : auto !important;
        margin-top    : 30px;
        margin-bottom : 60px;
      }

    }

  }
}

.cew-research-button.nectar-button {

  visibility      : visible;
  padding         : 0 70px 0 50px;
  height          : 70px;
  display         : inline-flex;
  align-items     : center;
  justify-content : center;
  border-radius   : 140px !important;
  letter-spacing  : 1.9px;
  box-shadow      : 0 0 0 rgba(0, 0, 0, 0);
  transition      : 150ms all ease-out;

  &:focus {
    box-shadow : 0 0 15px rgba(0, 0, 0, .3);
  }

  i {
    opacity      : 1;
    padding-left : 14px;
    font-size    : 26px;
    top          : 28px;
    right        : 47px;
    margin-top   : 0;
  }

  span {
    font-size      : 22px;
    text-transform : uppercase;
    font-family    : $sans-serif;
    font-weight    : 700;
  }

  &.has-icon:hover,
  &:hover {
    span, i {
      transform : translateX(0) !important;
    }
  }
}


@keyframes pulse {
  50% {
    box-shadow : 0 0 7px rgba(0, 0, 0, .15);
    background : darken($blue_100, 10%);
  }
}

.load-more,
.spinner {
  clear           : both;
  float           : left;
  width           : 100%;
  margin          : 0 !important;
  height          : 400px;
  display         : flex;
  align-items     : center;
  justify-content : center;

  &.hidden {
    display : none;
  }

  .card {
    width         : 30px;
    margin        : 0 1%;
    height        : 30px;
    border-radius : 4px;
    background    : $blue_100;
    transition    : 250ms all ease-out;
    animation     : pulse 1750ms infinite ease-out;
    box-shadow    : 0 0 0 rgba(0, 0, 0, 0);
    border        : 1px solid #dadfe3;

    &:nth-of-type(1) {
    }

    &:nth-of-type(2) {
      animation-delay : 580ms;
    }

    &:nth-of-type(3) {
      animation-delay : 1060ms;
    }
  }


}


.cew-about-us {
  clear       : both;
  display     : flex;
  align-items : center;

  .element {
    padding : 0 15px;
  }

  @include breakpoint(large up) {
    .element {

      .text-container {
        width : 60%;
      }

      .img-container {
        float : right;
      }

      &:nth-of-type(1) {
        img {
          margin-top : -85px;
          left       : 20px;
          position   : relative;
        }
      }

      &:nth-of-type(2) {
        img {
          margin-bottom : -60px;
        }
      }

    }
  }

  @include breakpoint(medium only) {
    .element {

      .text-container {
        width : 100%;
      }

      img {
        margin  : auto;
        left    : 0;
        display : block;
        padding : 25px 0;

      }


      &:nth-of-type(3) {
        img {
          margin      : 20px auto;
          padding-top : 60px;
        }
      }

    }
  }

  @include breakpoint(small down) {
    flex-direction : column;

    .element {
      display        : flex;
      align-items    : center;
      padding-bottom : 30px;
      padding-left   : 0;
      padding-right  : 0;


      .img-container {
        flex : 0 0 33%;

        img {
          margin : 0;
        }
      }
    }

  }

}


.cew-who-we-are-header {

  p, em {
    font-size   : 28px;
    color       : $primary;
    font-family : $serif;
    line-height : 1.4;
  }

  @include breakpoint(small down) {
    h2, p {
      text-align : left !important;
    }

    .vc_custom_1576854359287 {
      margin : 0 !important;
    }

    .divider-small-border {
      margin-left : 0 !important;
    }


  }
}

.cew-resource-search-trigger {
  opacity    : 0;
  transition : 100ms all ease-out;

  &:focus {
    font-weight : bold;
    opacity     : 1;
  }
}

