.primary-text {
  color : $primary;
}

.secondary-text {
  color : $secondary;
}

.container .row {

  h1 {
    font-size   : 72px;
    font-weight : bold;
    color       : $primary;
    font-family : "PT Serif Pro", serif;
  }

  h2 {
    font-size   : 48px;
    font-weight : bold;
    color       : $primary;
    font-family : "PT Serif Pro", serif;
  }

  .section-title p {
    font-style : italic;
    font-size  : 22px;
    color      : $primary;
  }


  p.header {
    font-size   : 22px;
    line-height : 1.4;
  }

}


.main-content {
  .bold {
    font-weight : bold;
  }
}
