.hide-for-medium {
  @include breakpoint(medium up) {
    display : none !important;
  }
}

.show-for-medium {
  @include breakpoint(small down) {
    display : none !important;
  }
}

.hide-for-large {
  @include breakpoint(large up) {
    display : none !important;
  }
}

.show-for-large {
  @include breakpoint(medium down) {
    display : none !important;
  }
}


.hide-for-xlarge {
  @include breakpoint(xlarge up) {
    display : none !important;
  }
}

.show-for-xlarge {
  @include breakpoint(large down) {
    display : none !important;
  }
}